@{ 
    ViewBag.Title = "Index";

    string[] kurslar = { "MVC kursu", "web forms","c# kursu" };
}

<h2>Kurslar</h2>
<hr />


<ul>
    @foreach (var kurs in kurslar)
    {
        <li>
            @kurs
        </li>
    }
</ul>

<hr />